@import 'reset';

html, body {
    margin: 0;
    z-index: 0;
}

html {

    position: absolute;
    overflow: hidden;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: white;
}

body {

    // position: relative;

    height: 100%;
    width: 100%;
    // min-height: 100%;

    overflow-y: scroll;
    overflow-x: scroll;

    font-family: Roboto;
    font-size: 12px;
    color: #424242;

    background: #424242;
    padding: 0;
    margin: 0;
}

#main {
    transform: scale( 0.9 );
    transition: transform .3s ease-in-out;
}

#main.visible {
    position: relative;
    z-index: 20;
    // transition
    // visibility: hidden;

    transform: scale( 1 );
}

#error-container.visible {
    transform: translateY(0em);
    z-index: 100;
}

#error-container {
    height: 5em !important;
    background: #3B3B3B;
    color: #FEBD01;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100% !important;
    transform: translateY(-5em);
    transition: transform .2s ease-in-out;

    display: flex;

    p, a {
        text-transform: uppercase;
        margin-top: 2em;
        margin-left: 1em;
        // font-size: 1.2em;
    }

    a {
        // padding-top: 2em;
        text-decoration: none;
        color: #ED2553;
    }
}

#error-container > div:nth-child(1) {
    width: 80%;
}

#error-container > div:nth-child(2) {
    padding-top: 2em;
    width: 20%;
}

// #main.expanded {
//     display: none;
// }

#nav > div:nth-child( 1 ) {
        // z-index: 3;
        width: 17%;
        background: #F65857;
        

        // div:nth-child( 3 ) {
        //     height: 3px;
        //     height: 33.33%;
        //     background: red;
        // }
    }
#nav > div:nth-child( 2 ) {
        // position: relative;
        // background: black;
        // margin-top: 1em;
        height: 50%;
        width: 66%;
        z-index: 30;
    }
#nav > div:nth-child( 3 ) {
        z-index: 30;
        width: 17%;
        background: #F65857;
    }

#nav {
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    background: #F65857;
    position: fixed;
    z-index: 10 !important;

    width: 100%;

    input {
        z-index: 10;
        // border: 3px solid white; 
        position: relative;
        width: 90%;
        height: 100%;
        // margin-left: 5%;
        height: 3em;
        border: 0;
        font-size: 16px;
        background: #FFFFFF;
        margin: 0 auto;
        padding-left: 2em;
        overflow: hidden;

        color: #A7A6A4;
        // border-radius: 5px;
        // margin: 0 auto;

        
    }

    input:focus, input:active {
        // border: 3px solid white;
        outline: none;
        box-shadow: inset 1px 1px 6px grey;
        // box-shadow: inset 10px  -10px  -3px 2px grey;
    }

    // [class^="icon-"], [class*=" icon-"] {
    //     display: inline-block;
    //     width: 100%;
    // }

    .icon {
        position: relative;
        padding-top: 0.5em;
        font-size: 2em;
        width: 1em;
        margin: 0 auto;

        // i {
        //     margin: 0 auto;
        // }
    }

    // .icon {
    //     position: relative;
    //     margin: 0 auto;
    //     height: 100%;
    //     width: 100%;
    //     // width: 48px;
    //     // height: 48px;
    //     // background: pink;
    //     padding: 0;
    //     font-size: 22px;
    //     text-align: center;
    //     display: flex;
    //     flex-direction: column;

    //     div {
    //         height: 33.33%;
    //         margin: auto;
    //     }
    //     // i {
    //     //     padding: 0;
    //     //     margin: 0;
    //     // }
    // }
}

#distance-nav {
    height: 4em;
    width: 100% !important;
    
    position: fixed;
    margin-top: 4em;

    

    z-index: 10 !important;

    ul {
        padding: 0px;
        margin: 0;
        display: flex;
        height: 100%;
        li:nth-child( 1 ) {
            border-left: 0;
        }
        li {
            border-top: 1px solid grey;
            display: inline;
            width: 33.33%;
            height: 100%;
            // border-left: 1px solid black;
            text-align: center;
            background: #FFFFFF;
            font-size: 16px;
            line-height: 3em;
        }

    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: #A7A6A4;
    }

    a:visited {
        color: #A7A6A4;
    }

    .buttons-separator:nth-child( 2 ), .buttons-separator:nth-child( 3 ) {
        height: 50%;
        position: absolute;
        bottom: 25%;
        right: 33.33%;
        width: 1px !important;
        background: grey;
    }

    .buttons-separator:nth-child( 3 ) {
        right: 66.66%;
    }
}

#nearby-list {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

#closeby-list {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

#faraway-list {
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}

// #nearby-list.left {
//     transform: translateX(-100%);
// }

// #closeby-list.left {
//     transform: translateX(-100%);
// }

#nearby-list.left, #closeby-list.left, #faraway-list.left {
    transform: translateX(-100%);
}


#nearby-list.lefty, #closeby-list.lefty, #faraway-list.lefty {
    transform: translateX(-200%);
}


#distance-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // transition: all 5s ease-in-out;
    overflow: hidden;;
    // transform: translateX(0%);
}

#closeby-list, #nearby-list, #faraway-list {

    border-top: 1px solid grey;
    box-shadow: inset 0px 5px 10px -5px grey;

    margin-top: 8em;

    min-width: 100%;

    background: #FFF;

    display: flex;
    flex-wrap: wrap;

    z-index: 30;
    padding-bottom: 1em;

    .event-item.expand {
        width: 100%;
        border-radius: 0px;
        transition: all .3s ease-in-out;
        transition-delay: 2s;
    }

    .event-item {
        
        display: flex;
        flex-wrap: wrap;
        
        height: 15em;

        background: #D5D5D5;
        width: 95%;
        margin: 1em auto 0 auto;
        border-radius: 10px;
        overflow: hidden;

        z-index: 60 !important;
        
    }

    .event-item.step1 {
        box-shadow: 1px 1px 20px black;
    }

    .event-item.step2 {
        // box-shadow: 5px 5px 5px black;
    }

    .event-item.step3 {
        // boxs-shadow: 5px 5px 5px black;
    }

    .event-item.invisible {
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    .map-image.invisible {
        // z-index: 3000;
        // margin-left: 25%;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        transition-delay: .3s;
    }

    .map-image {
        margin-left: 0%;
        img {
            margin-top: 3em;
            margin-left: 2.1em;
            height: 9em;
            width: 9em;
            border-radius: 50%;
            border: 2px solid grey;
        }

        width: 45%;
        // height: 100%;

    }

    .event-info.invisible {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        transition-delay: .3s;
    }

    .event-info {
        opacity: 1;
        margin-top: 1em;
        width: 55%;
        position: relative;
    }

    .bottom-border.invisible {
        opacity: 0;
        transition: opacity .3s ease-in-out;
        transition-delay: .3s;
    }

    .bottom-border {
        opacity: 1;
        position: relative;
        bottom: -1em;
        height: 0.5em;
        background: #25A197;
        width: 100%;
    }

    h2 {
        margin-left: 0px;
    }

    ul {
        position: absolute;
        bottom: 0em !important;
        padding-left: 0.5em;
    }

    li {
        list-style-type: none;
        margin-top: 0.5em;
        margin-left: 0;
    }
}

/*
 *
 * Floating Action Button
 * 
 */

#fa {
    position: fixed;
    background: #F65857;
    border-radius: 50%;
    height: 64px;
    width: 65px;
    bottom: 24px;
    right: 24px;
    // font-size: 24px;
    box-shadow: 1px 3px 7px grey;
    transition: transform .2s ease-in-out;
    z-index: 20;

    .icon {
        position: relative;
        padding-top: 0.8em;
        font-size: 2em;
        width: 1em;
        margin: 0 auto;
        text-align: center;
    }
}

#fa.expand-animation {
    transform: scale( 20 );

    .icon {
        display: none;
    }
}

#overlay.from-left-to-middle.from-left.visible {
    transform: translateX( 0% );
    transition: transform .3s ease-in-out;
    // transition-delay: .5s;
}

#overlay.from-left.visible {
    transform: translateX( 100% );
}

#overlay.visible {
    z-index: 50 !important;
    // transform: translateX( 0% );
    // transform: translateX( 0% );
    transition: opacity .5s ease-in-out;
    // transition-delay: .2s;
    width: 100%;
    opacity: 1;
}



#overlay {

    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0 !important;

    // section.container {
    //     transition: opacity 19s ease-in-out;
    // // transition-delay: .2s;

    // opacity: 1;
    // }
    

    section.container {

        height: 100%;
        width: 100%;

        background: #ED2553;

        // overflow-y: scroll;

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;

        // display: flex;
        // flex-direction: column;

        .header.visible {
            transform: translateY(0em);
            transition: transform .3s ease-in-out;
            transition-delay: .4s;
        }

        .header {

            position: relative;
            height: 5em;
            width: 100%;
            background: #FFFFFF;
            transform: translateY(-6em);
            top: 0em;
            left: 0;

            border-bottom: solid 2px grey;

            h2 {
                text-transform: uppercase;
                margin-top: 1.2em;
                margin-left: 1em;
            }
        }

        .footer.visible {
            transform: translateY(-4em);
            transition: transform .3s ease-in-out;
            transition-delay: .4s;
        }

        .footer {
            position: absolute;
            bottom: -4em;
            left: 0;
            height: 4em;
            width: 100%;
            background: #FFFFFF;

            border-top: solid 2px grey;

            display: flex;

            div {
                width: 50%;
            }

            div:nth-child(2) {
                // border-right: 1px solid black;
                overflow: hidden;
                div {
                    width: 100%;
                }
                div:nth-child( 1 ) {
                    transition: transform .3s ease-in-out;
                    transform: translateY( 0em );
                }
                div:nth-child( 1 ).visible {
                    transform: translateY( 4.4em );
                }
                div:nth-child( 2 ) {
                    transition: transform .3s ease-in-out;
                    transform: translateY( -8.8em );
                }
                div:nth-child( 2 ).visible {
                    transform: translateY( -4.4em );
                }
            }

            a {
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.4em;
            }

            a:visited {
                color: #424242;
            }
        }

        .cancel-button {
            p {
                color: #A7A6A4 !important;
            }
        }

        .new-account-container.visibly, .new-event-container.visibly {
            display: flex;
            opacity: 0;
            transition: opacity .4s ease-in-out;
            // transition-delay: .7s;
        }
        .new-account-container.visibly.visible, .new-event-container.visibly.visible {
            opacity: 1;
            transition: opacity .4s ease-in-out;
            transition-delay: .5s;
        }

        .new-account-container, .new-event-container {
            
            display: none;
            // height: 100%;
            width: 100%;
            // margin: 4em auto 4em auto;
            // display: flex;
            flex-direction: column;
            justify-content: center;

            padding-top: 8em;
            padding-bottom: 8em;

            margin: 0 auto !important;

            flex-grow: 1;
            overflow-y: scroll;

            opacity: 0;

            .labels {
                display: none;
                width: 1%;
                li {
                    list-style-type: none;
                }
            }
            .inputs {
                display: inline;

                width: 90%;
                height: 100%;
                margin: 0 auto;
                text-align: center;
                // margin-bottom: 8em;
                // margin: 0 auto;
                // form {
                //     width: 100%;
                //     margin: 0 auto;
                // }
                display: flex;
                flex-direction: column;

                // overflow-y: scroll;

                form {
                    flex-grow: 1;
                }

                // padding-bottom: 0em;
                padding-top: 4em;
                top: 0;

                input {
                    // height: 3em;
                    vertical-align: middle;
                    border: none;
                    margin: 3px 0 0 0;
                    padding-left: 2em;
                    padding: 1em 0 1em 2em;
                    font-size: 18px;
                    width: 80%;
                    // smargin-top: 30px;
                }
            }
        }
    }
}

#new-event-form {
    margin-top: 8em;
}

.buttons-separator {
    height: 50%;
    position: absolute;
    bottom: 25%;
    right: 50%;
    width: 1px !important;
    background: grey;
}

#nav-overlay {
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #3C4A55;
    color: #CBCFD2;

    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    a, a:visited, a:active {
        color: #CBCFD2;
        text-decoration: none;
    }

    .container {

        display: flex;
        flex-direction: column;

        height: 80%;
        margin-left: 20%;

        .image {
            height: 40%;
            // width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .menu-items {
            margin: 0 auto;
            width: 100%;
            font-size: 18px;
            ul {
                padding: 1em;
                margin-left: 0;
                list-style: none;
            }
            li:first-child {
                padding-top: 0;
            }
            li {
                padding: 1em 0 1em 1em;
                border-bottom: 0.1px solid #CBCFD2;
            }
        }
    }

    i {
        padding-right: 1em;
    }
}

#faded-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: black;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

#faded-overlay.opened {
    z-index: 30;
    opacity: 0.4;
}

#nav-overlay.opened {
    transform: translateX( -20% );
}

#create-account.aside {
    transform: translateX( 100% );
    transition: transform .3s ease-in-out;
}

#create-account {
    // display: none;
    transform: translateX( 0% );
    .header {
        display: flex;

        div:nth-child( 1 ) {
            width: 80%;
        }
        div:nth-child( 2 ) {
            width: 20%;
            .icon {
                position: relative;
                padding-top: 0.7em;
                font-size: 2em;
                width: 1em;
                margin: 0 auto;
            }
            i.rotate {
                transform-origin: center;
                transform: rotate(360deg);
                transition: transform .5s ease-in-out;
            }
            i.rotate.end {
                transform-origin: center;
                transform: rotate(0deg);
                transition: transform .5s ease-in-out;
                // transition-delay: 1s;
            }
        }
    }

}

#create-event {
    display: none !important;
    // z-index: -1;
}

@keyframes mapAnimation {
  0% {
    height: 100%;
  }
  30% {
    height: 100%;
  }
  90% {
    height: 77%;
  }
  100% {
    height: 30%;
  }
}

// @-webkit-keyframes overlayAnimation {
//   0% {
//     bottom: 100%;
//     box-shadow: none !important;
//   }
//   20% {
//     bottom: 100%;
//     box-shadow: none !important;
//   }
//   30% {
//     bottom: 70%;
//     box-shadow: 1px 1px 20px black;
//   }
//   60% {
//     bottom: 70%;
//     // box-shadow: 1px 1px 20px black;
//   }
//   65% {
//     bottom: 65%;
//     // box-shadow: 1px 1px 20px black;
//   }
//   85% {
//     bottom: 65%;
//     // box-shadow: 1px 1px 20px black;
//   }
//   100% {
//     bottom: 0%;
//     // box-shadow: 1px 1px 20px black;
//   }
// }

@keyframes overlayAnimation {
  0% {
    bottom: 100%;
    box-shadow: 0px 0px 0px #000;
    background: #D5D5D5;
  }
  1% {
    bottom: 100%;
    box-shadow: 0px 0px 0px #000;
    background: #D5D5D5;
  }
  20% {
    bottom: 100%;
    box-shadow: 0px 0px 0px #000;
    background: #D5D5D5;
  }
  29% {
    bottom: 70%;
    box-shadow: 0px 0px 0px #000;
    background: #D5D5D5;
  }
  30% {
    bottom: 70%;
    box-shadow: 1px 1px 20px black;
    background: #D5D5D5;
  }
  60% {
    bottom: 70%;
    box-shadow: 1px 1px 20px black;
    background: #D5D5D5;
  }
  65% {
    bottom: 65%;
    box-shadow: 1px 1px 20px black;
    background: #D5D5D5;
  }
  85% {
    bottom: 65%;
    box-shadow: 1px 1px 20px black;
    background: #D5D5D5;
  }
  100% {
    bottom: 0%;
    box-shadow: 1px 1px 20px black;
    background: #4B5668;
  }
}

#event-overlay.expand1.move-away {
    transform: translateX(100%);
    transition: all .3s ease-in-out !important;
}

#event-overlay.expand1 {
    // transform: translateX(0%);
    // display: block;
    z-index: 100;
    position: fixed;
    // bottom: 70% !important;
    bottom: 0 ;
    border-radius: 0px;
    background: #4B5668;
    // transition: all .3s ease-in-out;
    // transition-delay: .3s;
    // box-shadow: 0px 0px 0px black;

    // background: red;
    animation: overlayAnimation 2s;

    .map-image {
        position: fixed;
        height: 30%;
        opacity: 1;
        transition: all .3s ease-in-out;
        transition-delay: 1s;

        div:nth-child( 1 ) {
            

            div {
                
            }
            
        }

        // animation: mapAnimation 5s infinite;
    }

    div {
        height: 100%;

    }



    img {
        height: 100%;
        width: 100%;
        margin-top: 0;
        border: 0;
        opacity: 1;
        border-radius: 0;
        box-shadow: inset 2px 1px 1px 1px black !important;
    }

    .header {
        background: #DAD8D9;
        opacity: 1;
        position: fixed;
        top: 30%;
        height: 5%;
        // padding: 1em;
        transition: opacity .3s ease-in-out;
        transition-delay: 1.5s;

        h2 {
            
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 1em;
            padding-bottom: 0.2em;
            margin: 0 auto;
        }
    }

    .content {
        background: #4B5668;
        opacity: 1;
        position: fixed;
        top: 35%;
        height: 65%;

        transition: opacity .3s ease-in-out;
        transition-delay: 2.2s;

        color: #F7F7F7;

        .wrapper {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            
            position: absolute;
            // bottom: 0;
            left: 0;
            padding: 1em;
            // margin: 0 auto;
            width: 100%;
        }
    }

    .close-button {
        z-index: 1000;
        position: fixed;
        top: 1em;
        right: 1em;
        height: 1em;
        width: 1em;
        font-size: 2em;
        border-radius: 50%;
        background: white;
        opacity: 0.9;
        padding: 5px;
    }
}

// #event-overlay.expand2 {
//     // width: 100%;
//     // height: 100%;
//     z-index: 100;
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0 !important;
//     left: 0;
//     border-radius: 0px;
//     transition: all .3s ease-in-out;
//     // transition-delay: 2s;

//     display: flex;

//     .map-image {
//         height: 30%;
//     }

//     div {
//         height: 100%;
//     }

//     img {
//         height: 100%;
//         width: 100%;
//         margin-top: 0;
//         border: 0;
//         opacity: 1;
//         border-radius: 0;
//     }
// }

#event-overlay {
    // display: block;

    
    // display:none;

    position: fixed;

    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;

    // transition: all 15s ease-in-out;

    background: #D5D5D5;

    border-radius: 10px;

    .map-image {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background: red;
        opacity: 0;
    }

    div {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    img.visible {
        position: relative;
        opacity: 1;
        width: 100%;
        height: 100%;
        // transition: all .5s ease-in-out;
    }

    img {
        opacity: 0;
        position: relative;
        margin-top: 3em;
        height: 9em;
        width: 9em;
        border-radius: 50%;
        border: 2px solid grey;
    }

    .header {
        opacity: 0;
    }

    .content {
        opacity: 0;
    }
}

#sign-in-overlay.visible {
    z-index: 30;
    opacity: 1;

    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.6s;
    // .container {
    //     z-index: 40;
    // }
    a {
        color: white;
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
}

#sign-in-overlay {

    opacity: 0;
    z-index: 0;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    div:first-child {
        flex-grow: 1;
    }

    div:nth-child( 2 ) {
        height: 20em;
        background: #656565;
        padding: 1em;
        color: white;
    }

    div:nth-child( 3 ) {
        flex-grow: 1
    }


    .container {
        position: relative;
        
    }

    h2.button {
        // position: absolute;
        background: #2F9372;
        transition: background .1s ease-in-out;
        border-radius: 1em;
        // margin-left: 60%;

    }

    h2 {
        // position: absolute;
        margin: 0;
        margin-top: 1em;
        // margin-right: 2em;
        position: relative;
        float: right;
        right: 1em;
        padding: 0.5em 1em;
        // margin-left: 60%;

    }

    label, form {
        width: 100%;
    }

    form {
        margin: 0 auto;
        height: 100%;
        padding: 1em;

    }
    input {
        padding:1em;
        width: 80%;
        color: black;
    }

    label {
        float: left;
        padding: 1em;
    }

}
